
//====== SYS  ====== 
IO_LOC  "sys_clk"   V22; // 50MHz
IO_PORT "sys_clk"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3 DRIVE=OFF;

//====== SWITCH  ====== 
IO_LOC  "sw[0]" AA13;
IO_PORT "sw[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=1.5;
IO_LOC  "sw[1]" AB13;
IO_PORT "sw[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=1.5;
IO_LOC  "sw[2]" Y12;
IO_PORT "sw[2]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=1.5;


//====== HDMI ====== 
IO_LOC  "tmds_clk"  G15,G16;
IO_PORT "tmds_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC  "tmds_d[0]" J14,H14;
IO_PORT "tmds_d[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC  "tmds_d[1]" J15,H15;
IO_PORT "tmds_d[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC  "tmds_d[2]" K17,J17;
IO_PORT "tmds_d[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;

//====== SDCARD ====== 
IO_LOC  "sd_clk"    V15;
IO_PORT "sd_clk"    PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "sd_cmd"    Y16;
IO_PORT "sd_cmd"    PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "sd_dat[0]" AA15;
IO_PORT "sd_dat[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "sd_dat[1]" AB15;
IO_PORT "sd_dat[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "sd_dat[2]" W14;
IO_PORT "sd_dat[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "sd_dat[3]" W15;
IO_PORT "sd_dat[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33;


//====== UART(USB-C) ====== 
IO_LOC  "UART_RX" V14;
IO_LOC  "UART_TX" U15;
IO_PORT "UART_RX" IO_TYPE=LVCMOS33;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33;


//====== USB-A ====== 
IO_LOC  "usb1_d_p" M15;
IO_LOC  "usb1_d_n" M16;
IO_PORT "usb1_d_p" IO_TYPE=LVCMOS33;
IO_PORT "usb1_d_n" IO_TYPE=LVCMOS33;
IO_LOC  "usb2_d_p" H13;
IO_LOC  "usb2_d_n" G13;
IO_PORT "usb2_d_p" IO_TYPE=LVCMOS33;
IO_PORT "usb2_d_n" IO_TYPE=LVCMOS33;


//====== 64Mbit NOR Flash (MSPI) ====== 
IO_LOC  "flash_spi_clk"  L12;
IO_PORT "flash_spi_clk"  PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "flash_spi_cs"   T19;
IO_PORT "flash_spi_cs"   PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "flash_spi_d[0]" P22;
IO_PORT "flash_spi_d[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "flash_spi_d[1]" R22;
IO_PORT "flash_spi_d[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "flash_spi_d[2]" P21;
IO_PORT "flash_spi_d[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "flash_spi_d[3]" R21;
IO_PORT "flash_spi_d[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33;


//====== PMOD ====== 
IO_LOC  "pmod0[0]" V18;
IO_LOC  "pmod0[1]" V19;
IO_LOC  "pmod0[2]" G21;
IO_LOC  "pmod0[3]" G22;
IO_LOC  "pmod0[4]" F18;
IO_LOC  "pmod0[5]" E18;
IO_LOC  "pmod0[6]" C22;
IO_LOC  "pmod0[7]" B22;
IO_PORT "pmod0[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod0[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod0[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod0[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod0[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod0[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod0[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod0[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "pmod1[0]" W19;
IO_LOC  "pmod1[1]" W20;
IO_LOC  "pmod1[2]" F19;
IO_LOC  "pmod1[3]" F20;
IO_LOC  "pmod1[4]" E22;
IO_LOC  "pmod1[5]" D22;
IO_LOC  "pmod1[6]" E21;
IO_LOC  "pmod1[7]" D21;
IO_PORT "pmod1[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod1[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod1[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod1[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod1[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod1[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod1[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "pmod1[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

//====== SDRAM(32MB x2 16bit 133MHz) ====== 
IO_LOC  "sdram0_d[0]" E14;
IO_PORT "sdram0_d[0]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[1]" E13;
IO_PORT "sdram0_d[1]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[2]" C15;
IO_PORT "sdram0_d[2]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[3]" C14;
IO_PORT "sdram0_d[3]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[4]" B13;
IO_PORT "sdram0_d[4]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[5]" C13;
IO_PORT "sdram0_d[5]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[6]" A14;
IO_PORT "sdram0_d[6]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[7]" A13;
IO_PORT "sdram0_d[7]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[8]" B21;
IO_PORT "sdram0_d[8]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[9]" A21;
IO_PORT "sdram0_d[9]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[10]" B20;
IO_PORT "sdram0_d[10]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[11]" A20;
IO_PORT "sdram0_d[11]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[12]" A15;
IO_PORT "sdram0_d[12]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[13]" A16;
IO_PORT "sdram0_d[13]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[14]" B15;
IO_PORT "sdram0_d[14]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_d[15]" B16;
IO_PORT "sdram0_d[15]" IO_TYPE=LVCMOS33;

IO_LOC  "sdram0_a[0]" D19;
IO_PORT "sdram0_a[0]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_a[1]" E19;
IO_PORT "sdram0_a[1]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_a[2]" C19;
IO_PORT "sdram0_a[2]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_a[3]" C18;
IO_PORT "sdram0_a[3]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_a[4]" E16;
IO_PORT "sdram0_a[4]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_a[5]" D15;
IO_PORT "sdram0_a[5]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_a[6]" D14;
IO_PORT "sdram0_a[6]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_a[7]" A19;
IO_PORT "sdram0_a[7]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_a[8]" A18;
IO_PORT "sdram0_a[8]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_a[9]" C17;
IO_PORT "sdram0_a[9]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_a[10]" D20;
IO_PORT "sdram0_a[10]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_a[11]" D17;
IO_PORT "sdram0_a[11]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_a[12]" B18;
IO_PORT "sdram0_a[12]" IO_TYPE=LVCMOS33;

IO_LOC  "sdram0_ba[0]" F15;
IO_PORT "sdram0_ba[0]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_ba[1]" C20;
IO_PORT "sdram0_ba[1]" IO_TYPE=LVCMOS33;

IO_LOC  "sdram0_dm[0]" F14;
IO_PORT "sdram0_dm[0]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_dm[1]" F13;
IO_PORT "sdram0_dm[1]" IO_TYPE=LVCMOS33;

IO_LOC  "sdram0_clk" B17;
IO_PORT "sdram0_clk" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_we_n" D16;
IO_PORT "sdram0_we_n" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_ras_n" F16;
IO_PORT "sdram0_ras_n" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_cas_n" E17;
IO_PORT "sdram0_cas_n" IO_TYPE=LVCMOS33;
IO_LOC  "sdram0_cs_n" F21;
IO_PORT "sdram0_cs_n" IO_TYPE=LVCMOS33;


IO_LOC  "sdram1_d[0]" R19;
IO_PORT "sdram1_d[0]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[1]" P19;
IO_PORT "sdram1_d[1]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[2]" U21;
IO_PORT "sdram1_d[2]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[3]" T21;
IO_PORT "sdram1_d[3]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[4]" R17;
IO_PORT "sdram1_d[4]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[5]" P16;
IO_PORT "sdram1_d[5]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[6]" T18;
IO_PORT "sdram1_d[6]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[7]" R18;
IO_PORT "sdram1_d[7]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[8]" N13;
IO_PORT "sdram1_d[8]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[9]" N14;
IO_PORT "sdram1_d[9]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[10]" N17;
IO_PORT "sdram1_d[10]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[11]" P17;
IO_PORT "sdram1_d[11]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[12]" W21;
IO_PORT "sdram1_d[12]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[13]" W22;
IO_PORT "sdram1_d[13]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[14]" V17;
IO_PORT "sdram1_d[14]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_d[15]" W17;
IO_PORT "sdram1_d[15]" IO_TYPE=LVCMOS33;

IO_LOC  "sdram1_a[0]" R16;
IO_PORT "sdram1_a[0]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_a[1]" P15;
IO_PORT "sdram1_a[1]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_a[2]" R14;
IO_PORT "sdram1_a[2]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_a[3]" P14;
IO_PORT "sdram1_a[3]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_a[4]" AA19;
IO_PORT "sdram1_a[4]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_a[5]" AA21;
IO_PORT "sdram1_a[5]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_a[6]" AA20;
IO_PORT "sdram1_a[6]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_a[7]" AB22;
IO_PORT "sdram1_a[7]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_a[8]" AB21;
IO_PORT "sdram1_a[8]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_a[9]" Y22;
IO_PORT "sdram1_a[9]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_a[10]" U17;
IO_PORT "sdram1_a[10]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_a[11]" Y21;
IO_PORT "sdram1_a[11]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_a[12]" V20;
IO_PORT "sdram1_a[12]" IO_TYPE=LVCMOS33;

IO_LOC  "sdram1_ba[0]" N15;
IO_PORT "sdram1_ba[0]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_ba[1]" U18;
IO_PORT "sdram1_ba[1]" IO_TYPE=LVCMOS33;

IO_LOC  "sdram1_dm[0]" AA18;
IO_PORT "sdram1_dm[0]" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_dm[1]" AB18;
IO_PORT "sdram1_dm[1]" IO_TYPE=LVCMOS33;

IO_LOC  "sdram1_clk"   U20;
IO_PORT "sdram1_clk"   IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_we_n"  AB20;
IO_PORT "sdram1_we_n"  IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_ras_n" Y18;
IO_PORT "sdram1_ras_n" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_cas_n" Y19;
IO_PORT "sdram1_cas_n" IO_TYPE=LVCMOS33;
IO_LOC  "sdram1_cs_n"  T20;
IO_PORT "sdram1_cs_n"  IO_TYPE=LVCMOS33;

//====== DDR3 ====== 
IO_LOC  "ddr_ba[2]"   M6;
IO_PORT "ddr_ba[2]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_ba[1]"   P2;
IO_PORT "ddr_ba[1]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_ba[0]"   P5;
IO_PORT "ddr_ba[0]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC  "ddr_a[15]"  R1;
IO_PORT "ddr_a[15]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[14]"  D1;
IO_PORT "ddr_a[14]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[13]"  K1;
IO_PORT "ddr_a[13]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[12]"  K4;
IO_PORT "ddr_a[12]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[11]"  H3;
IO_PORT "ddr_a[11]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[10]"  L1;
IO_PORT "ddr_a[10]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[9]"   H5;
IO_PORT "ddr_a[9]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[8]"   J5;
IO_PORT "ddr_a[8]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[7]"   J1;
IO_PORT "ddr_a[7]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[6]"   G3;
IO_PORT "ddr_a[6]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[5]"   H2;
IO_PORT "ddr_a[5]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[4]"   J2;
IO_PORT "ddr_a[4]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[3]"   J4;
IO_PORT "ddr_a[3]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[2]"   G2;
IO_PORT "ddr_a[2]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[1]"   K2;
IO_PORT "ddr_a[1]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_a[0]"   M1;
IO_PORT "ddr_a[0]"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC  "ddr_odt"    M2;
IO_PORT "ddr_odt"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_cke"    K6;
IO_PORT "ddr_cke"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_we_n"   M5;
IO_PORT "ddr_we_n"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_cas_n"  L4;
IO_PORT "ddr_cas_n"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_ras_n"  L5;
IO_PORT "ddr_ras_n"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_cs_n"   P4;
IO_PORT "ddr_cs_n"   IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_rst_n"  L6;
IO_PORT "ddr_rst_n"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_clk"    L3,K3;
IO_PORT "ddr_clk"    IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm[3]"  W1;
IO_PORT "ddr_dm[3]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm[2]"  T6;
IO_PORT "ddr_dm[2]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm[1]"  V7;
IO_PORT "ddr_dm[1]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dm[0]"  AA4;
IO_PORT "ddr_dm[0]"  IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC  "ddr_dq[31]"    Y2;
IO_PORT "ddr_dq[31]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[30]"    U1;
IO_PORT "ddr_dq[30]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[29]"    V2;
IO_PORT "ddr_dq[29]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[28]"    U2;
IO_PORT "ddr_dq[28]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[27]"    U3;
IO_PORT "ddr_dq[27]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[26]"    T1;
IO_PORT "ddr_dq[26]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[25]"    Y1;
IO_PORT "ddr_dq[25]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[24]"    W2;
IO_PORT "ddr_dq[24]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[23]"    T5;
IO_PORT "ddr_dq[23]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[22]"    V5;
IO_PORT "ddr_dq[22]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[21]"    T4;
IO_PORT "ddr_dq[21]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[20]"    Y6;
IO_PORT "ddr_dq[20]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[19]"    R4;
IO_PORT "ddr_dq[19]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[18]"    U6;
IO_PORT "ddr_dq[18]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[17]"    R6;
IO_PORT "ddr_dq[17]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[16]"    U5;
IO_PORT "ddr_dq[16]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[15]"    Y9;
IO_PORT "ddr_dq[15]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[14]"    AB6;
IO_PORT "ddr_dq[14]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[13]"    W9;
IO_PORT "ddr_dq[13]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[12]"    AB8;
IO_PORT "ddr_dq[12]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[11]"    Y7;
IO_PORT "ddr_dq[11]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[10]"    AB7;
IO_PORT "ddr_dq[10]"    IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[9]"     Y8;
IO_PORT "ddr_dq[9]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[8]"     AA8;
IO_PORT "ddr_dq[8]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[7]"     AB1;
IO_PORT "ddr_dq[7]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[6]"     AB5;
IO_PORT "ddr_dq[6]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[5]"     AB2;
IO_PORT "ddr_dq[5]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[4]"     AA1;
IO_PORT "ddr_dq[4]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[3]"     V4;
IO_PORT "ddr_dq[3]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[2]"     AA5;
IO_PORT "ddr_dq[2]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[1]"     AB3;
IO_PORT "ddr_dq[1]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;
IO_LOC  "ddr_dq[0]"     Y4;
IO_PORT "ddr_dq[0]"     IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=1.5;

IO_LOC  "ddr_dqs[3]"    R3,R2;
IO_PORT "ddr_dqs[3]"    IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dqs[2]"    W6,W5;
IO_PORT "ddr_dqs[2]"    IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dqs[1]"    V9,V8;
IO_PORT "ddr_dqs[1]"    IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC  "ddr_dqs[0]"    Y3,AA3;
IO_PORT "ddr_dqs[0]"    IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;



